<div class="titulos">
  <p>Crear Cliente</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Cedula Cliente:</label>
    <input class="cedula" type="text" placeholder="Ingrese el cedula del Cliente" autocomplete="off" name="cedula del cliente">
  </div>
  <div class="input">
    <label>Primer Nombre del Cliente:</label>
    <input class="nombre" type="text" placeholder="Ingrese el primer nombre del cliente" autocomplete="off" name="primer nombre">
  </div>
    <div class="input">
    <label>Primer Apellido del Cliente:</label>
    <input class="apellido" type="text" placeholder="Ingrese el primer apellido del cliente" autocomplete="off" name="primer apellido">
  </div>
  <button class="boton" type="submit">Crear Cliente</button>
</form>