<div class="titulos">
  <p>Crear Cliente</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Correo:</label>
    <input class="correo" type="text" placeholder="Ingrese el correo del Cliente" autocomplete="off" name="correo">
  </div>
  <div class="input">
    <label>Cedula(No Obligatorio):</label>
    <input class="cedula" type="text" placeholder="Ingrese la cedula del Cliente" autocomplete="off" name="cedula">
  </div>
    <div class="input">
    <label>telefono(No Obligatorio):</label>
    <input class="telefono" type="text" placeholder="Ingrese el numero de telefono del Cliente" autocomplete="off" name="telefono">
  </div>
  <button class="boton" type="submit">Crear Cliente</button>
</form>