<div class="titulos">
  <p class="titulos__relevante">QuickOrder</p>
  <p>iniciar sesion</p>
</div>
<form class="form" method="post">
    <div class="input">
      <label>Cédula:</label>
      <input class="cedula" type="text" placeholder="Ingrese la Cédula" autocomplete="off" name="cedula">
    </div>
  <div class="input">
    <label>Contraseña:</label>
    <input class="contrasena" type="password" placeholder="Ingrese la Contraseña" autocomplete="off" name="contrasena">
  </div>
    <button class="boton" type="submit">Iniciar Sesion</button>
</form>