<div class="titulos">
  <p>Editar Caja</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Monto de Apertura:</label>
    <input class="montoApertura" type="text" placeholder="Ingrese el monto de apertura de caja" autocomplete="off" name="Monto de Apertura">
  </div>
  <div class="input"> 
    <label>Monto de Cierre:</label>
    <input class="montoCierre" type="text" placeholder="Ingrese el monto de cierre de caja" autocomplete="off" name="Monto de Cierre">
  </div>
  <button class="boton">Actualizar Caja</button>
</form>