<div class="titulos">
  <p class="titulos__relevante">QuickOrder</p>
  <p>Registrarse</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Cédula:</label>
    <input class="cedula" type="text" placeholder="Ingrese su Cédula" autocomplete="off" name="cedula">
  </div>
  <div class="input">
    <label>Primer Nombre:</label>
    <input class="nombre" type="text" placeholder="Ingrese su Primer Nombre" autocomplete="off" name="nombre">
  </div>
  <div class="input">
    <label>Primer Apellido:</label>
    <input class="apellido" type="text" placeholder="Ingrese su Primer Apellido" autocomplete="off" name="apellido">
  </div>
  <div class="input">
    <label>Fecha de Nacimiento:</label>
    <input class="fecha" type="date" name="nacimiento">
  </div>
  <div class="input">
    <label>Contraseña:</label>
    <input class="contrasena" type="password" placeholder="Ingrese la Contraseña" autocomplete="off" name="contrasena">
  </div>
  <div class="input">
    <label>Reescribir Contraseña:</label>
    <input class="contrasenaConfirmar" type="password" placeholder="Ingrese la Contraseña" autocomplete="off" name="reescribir contrasena">
  </div>
  <div class="input">
    <label>Roles:</label>
    <select class="comboRoles" name="Rol">
      <option value="0" hidden>Seleccione un rol</option>
    </select>
  </div>
    <div class="inputFoto">
    <img src="../../../../public/perfil.png" alt="perfil" id="imagenPerfil">
    <div>
      <label>Fotografía:</label>
      <label class="boton" class="ArchivoFoto" for="ArchivoFoto">Seleccionar Fotografia</label>
      <input class="boton" type="file" id="ArchivoFoto" name="foto">
      <span id="ArchivoEstado">Ningún archivo seleccionado</span>
      <a class="boton" id="borrarImagen">Eliminar Fotografía</a>
    </div>
  </div>
  <button class="boton" type="submit">Enviar Peticion</button>
</form>