<div class="titulos">
  <p>Editar Reserva</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>ID Reserva:</label>
    <input class="idReserva" type="text" placeholder="Ingrese el correo del Cliente" autocomplete="off" name="ID de Reserva" disabled>
  </div>
  <div class="input">
    <label>Fecha Tentativa:</label>
    <input class="fechaTentativa" type="date" autocomplete="off" name="Fecha Tentativa">
  </div>
  <div class="input">
    <label>Hora Tentativa:</label>
    <input class="horaTentativa" type="time" autocomplete="off" name="Hora Tentativa">
  </div>
  <button class="boton" type="submit">Editar Reserva</button>
</form>