<div class="titulos">
  <p>Editar Trabajador</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Cédula:</label>
    <input class="cedula" type="text" placeholder="Ingrese su Cédula" autocomplete="off" name="cedula" disabled>
  </div>
  <div class="input">
    <label>Primer Nombre:</label>
    <input class="nombre" type="text" placeholder="Ingrese su Primer Nombre" autocomplete="off" name="nombre">
  </div>
  <div class="input">
    <label>Primer Apellido:</label>
    <input class="apellido" type="text" placeholder="Ingrese su Primer Apellido" autocomplete="off" name="apellido">
  </div>
  <div class="input">
    <label>Fecha de Nacimiento:</label>
    <input class="fecha" type="date" name="nacimiento">
  </div>
  <button class="boton" type="submit">Actualizar Trabajador</button>
</form>