<div class="titulos">
  <p>Editar Imagen Trabajador</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Imagen Actual:</label>
    <img class="imagenVieja" src="../../img/pfp.png" alt="imagenPerfilVieja" id="imagenPerfilVieja">
  </div>
  <div class="input">
    <label>Imagen Nueva:</label>
  </div>
  </div>
  <div class="inputFoto">
    <img src="../../../../public/perfil.png" alt="imagenUsuario" id="imagenUsuario">
    <div>
      <label>Fotografía:</label>
      <label class="boton" class="ArchivoFoto" for="ArchivoFoto">Seleccionar Fotografia</label>
      <input class="boton" type="file" id="ArchivoFoto" name="foto">
      <span id="ArchivoEstado">Ningún archivo seleccionado</span>
      <a class="boton" id="borrarImagen">Eliminar Fotografía</a>
    </div>
  </div>
  <button class="boton" type="submit">Actualizar Imagen Trabajador</button>
</form>