@import url(../style.css);

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 0.5fr 2fr;
  grid-template-areas:
  "header header header header header"
  "vacio1 deco1 titulo deco2 vacio3"
  "login login login login login"
  "vacio4 deco3 vacio5 deco4 vacio6"
  "boton boton boton boton boton";
  color: var(--color-palido);
  font-size: var(--tamano-mediano);
  font-family: var(--fuente-normal);
  text-transform: capitalize;
  background-color: var(--color-palido);
}
.boton{
  grid-area: boton;
  background-color: var(--color-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boton__submit{
  display: block;
  width: 30%;
  padding: 10px;
  background-color: var(--color-naranja);
  border: solid 0px var(--color-naranja);  
  border-radius: 20px;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-palido);
  transition: 0.3s;
  cursor: pointer;
}
.boton__submit:hover{
  background-color: var(--color-palido);
  color: var(--color-naranja);
  transform:scale(1.1)
}
.boton__registro{
  margin: 10px;
  gap: 10px;
  display: flex;
  text-transform: uppercase;
  font-size: var(--tamano-pequeno);
  color: var(--color-gris);
}
.boton__registro > a{
  color: var(--color-palido);
  text-decoration: none;
  transition: 0.3s;
}
.boton__registro > a:hover{
  color: var(--color-naranja);
  text-shadow: 0 0 10px var(--color-naranja), 0 0 20px var(--color-naranja);
}
.login{
  grid-area: login;
  background-color: var(--color-gris);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.login__input{
  width: 100%;
  display: block;
  border-radius: 30px;
  cursor:text;
  padding: 15px 100px 15px 30px;
  font-size: var(--tamano-grande);
  background-color: var(--color-palido);
  border: solid 0px var(--color-palido);
  color: var(--color-oscuro);
  outline: none;
  transition: 0.3s;
  color: var(--color-naranja);
}
.login__texto{
  transition: 0.3s;
}
.login__input::placeholder{
  color: var(--color-gris);
}
.login__input:focus{
  width: 120%;
  transform: translateX(-100px);
}
.login__contenedor:focus-within .login__texto{
  transform: translateX(-100px);
}
.titulo{
  grid-area: titulo;
  width: 100%;
  color: var(--color-naranja);
  font-size: var(--tamano-titulo);
  font-family: var(--fuente-importante);
  text-align: center;
  align-content: center;
}
.titulo > p:last-child{
  color: var(--color-gris);
}
.header{
  grid-area: header;
  background-color: var(--color-oscuro);
}
.deco1{
  grid-area: deco1;
  background-color: var(--color-gris);
}
.deco2{
  grid-area: deco2;
  background-color: var(--color-gris);
}
.deco3{
  grid-area: deco3;
  background-color: var(--color-oscuro);
}
.deco4{
  grid-area: deco4;
  background-color: var(--color-oscuro);
}
.vacio4{
  grid-area: vacio4;
  background-color: var(--color-gris);
}
.vacio5{
  grid-area: vacio5;
  background-color: var(--color-gris);
}
.vacio6{
  grid-area: vacio6;
  background-color: var(--color-gris);
}
