@import url(../style.css);
.container{
    width: 100vw;
    height: 100vh;
    font-family: var(--fuente-texto);
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 8%;
    background-color: var(--color-oscuro);
    color: var(--color-palido);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.main{
    font-size: 40px;
    width: 100%;
    min-height: 84%;
    background-color: var(--color-gris);
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: 8%;
    background-color: var(--color-oscuro);
    color: var(--color-palido);
}
.flex{
    display: flex;
}
.flex > img{
    height: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }