<div class="titulos">
  <p>Editar Coctel</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Nombre de la Coctel:</label>
    <input class="nombre" type="text" placeholder="Ingrese el nombre de la Coctel" autocomplete="off" name="nombre">
  </div>
  <div class="input">
    <label>Precio:</label>
    <input class="precio" type="text" placeholder="Ingrese el precio de la Coctel" autocomplete="off" name="precio">
  </div>
  <button class="boton" type="submit">Actualizar Coctel</button>
</form>