<div class="titulos">
  <p>Cambiar Contraseña Trabajador</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Contraseña Vieja:</label>
    <input class="contrasena" type="password" placeholder="Ingrese la Contraseña Vieja" autocomplete="off" name="contrasena vieja">
  </div>
  <div class="input">
    <label>Contraseña:</label>
    <input class="contrasenaNueva" type="password" placeholder="Ingrese la Contraseña Nueva" autocomplete="off" name="contrasena nueva">
  </div>
  <div class="input">
    <label>Reescribir Contraseña:</label>
    <input class="contrasenaConfirmar" type="password" placeholder="Ingrese la Contraseña" autocomplete="off" name="reescribir contrasena">
  </div>
  <button class="boton" type="submit">Enviar</button>
</form>