<div class="titulos">
  <p>Crear Comida</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Nombre de la Comida:</label>
    <input class="nombre" type="text" placeholder="Ingrese el nombre de la Comida" autocomplete="off" name="nombre">
  </div>
  <div class="input">
    <label>Precio:</label>
    <input class="precio" type="text" placeholder="Ingrese el precio de la Comida" autocomplete="off" name="precio">
  </div>
  <div class="input">
    <label>Tipo de Comida:</label>
    <select class="comboTipo" name="Tipo de Comida">
            <option value="0" hidden>Seleccione el tipo de Comida</option>
            <option value="hamburguesa">Hamburguesa</option>
            <option value="perro">Perro</option>
            <option value="papas">Papas</option>
            <option value="pizza">Pizza</option>
            <option value="taco">Taco</option>
            <option value="ensalada">Ensalada</option>
            <option value="sopa">Sopa</option>
            <option value="pollo">Pollo</option>
            <option value="pescado">Pescado</option>
            <option value="pasta">Pasta</option>
            <option value="lasagna">Lasagna</option>
            <option value="postre">Postre</option>
            <option value="otro">Otro</option>
    </select>
  </div>
    <div class="inputFoto">
    <img src="../../../../public/comida.png" alt="imagenPlatillo" id="imagenPlatillo">
    <div>
      <label>Fotografía:</label>
      <label class="boton" class="ArchivoFoto" for="ArchivoFoto">Seleccionar Fotografia</label>
      <input class="boton" type="file" id="ArchivoFoto" name="foto">
      <span id="ArchivoEstado">Ningún archivo seleccionado</span>
      <a class="boton" id="borrarImagen">Eliminar Fotografía</a>
    </div>
  </div>
  <button class="boton" type="submit">Crear Comida</button>
</form>