<div class="titulos">
  <p>Editar Mesa</p>
</div>
<form class="form" method="post">
  <div class="input">
    <label>Numero de Mesa:</label>
    <input class="numero" type="text" placeholder="Ingrese el numero de Mesa" autocomplete="off" name="numero" disabled>
  </div>
  <div class="input">
    <label>Capacidad de Mesa:</label>
    <input class="capacidad" type="text" placeholder="Ingrese capacidad de Mesa" autocomplete="off" name="capacidad">
  </div>
  <button class="boton" type="submit">Crear Mesa</button>
</form>